  /*페이지 네이션 css*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* 가운데 정렬 */
    margin-top: 20px; /* 상단 여백 */
  }
  
  .page-item {
    margin: 0 5px; /* 좌우 간격 */
  }
  
  .page-link {
    padding: 10px 15px; /* 패딩 */
    color: white; /* 글씨 색상 */
    background-color: black; /* 배경 색상 */
    border-radius: 50%; /* 둥근 테두리 */
    cursor: pointer; /* 커서 모양 */
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .page-link:hover {
    background-color: #333; /* 호버시 배경 색상 변경 */
  }
  
  .active .page-link,
  .page-link:active,
  .page-link:focus-visible {
    background-color: #ac2a2a; /* 활성화된 페이지의 배경 색상 */
    color: white; /* 활성화된 페이지의 글씨 색상 */
    border: 2px solid #ac2a2a; /* 활성화된 페이지의 테두리 색상 */
    outline: none; /* 클릭시 기본 아웃라인 제거 */
  }

    /*모바일 버전 css*/

    